<!--
  ~ Copyright (c) 2024, WSO2 LLC. (http://www.wso2.com).
  ~
  ~ WSO2 LLC. licenses this file to you under the Apache License,
  ~ Version 2.0 (the "License"); you may not use this file except
  ~ in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="org.wso2.carbon.identity.entitlement.suite">
    <test name="org.wso2.carbon.identity.entitlement.tests" preserve-order="true" parallel="false">
        <classes>
            <class name="org.wso2.carbon.identity.entitlement.persistence.PersistenceManagerFactoryTest"/>
            <class name="org.wso2.carbon.identity.entitlement.persistence.JDBCConfigPersistenceManagerTest"/>
            <class name="org.wso2.carbon.identity.entitlement.persistence.RegistryConfigPersistenceManagerTest"/>
            <class name="org.wso2.carbon.identity.entitlement.persistence.HybridConfigPersistenceManagerTest"/>
            <class name="org.wso2.carbon.identity.entitlement.persistence.ConfigPersistenceManagerFailureTest"/>
            <class name="org.wso2.carbon.identity.entitlement.persistence.JDBCPolicyPersistenceManagerTest"/>
            <class name="org.wso2.carbon.identity.entitlement.persistence.RegistryPolicyPersistenceManagerTest"/>
            <class name="org.wso2.carbon.identity.entitlement.persistence.HybridPolicyPersistenceManagerTest"/>
            <class name="org.wso2.carbon.identity.entitlement.persistence.PolicyPersistenceManagerFailureTest"/>
            <class name="org.wso2.carbon.identity.entitlement.policy.finder.JDBCPolicyPersistenceManagerTest"/>
            <class name="org.wso2.carbon.identity.entitlement.policy.finder.RegistryPolicyPersistenceManagerTest"/>
            <class name="org.wso2.carbon.identity.entitlement.policy.finder.HybridPolicyPersistenceManagerTest"/>
            <class name="org.wso2.carbon.identity.entitlement.persistence.JDBCSubscriberPersistenceManagerTest"/>
            <class name="org.wso2.carbon.identity.entitlement.persistence.RegistrySubscriberPersistenceManagerTest"/>
            <class name="org.wso2.carbon.identity.entitlement.persistence.HybridSubscriberPersistenceManagerTest"/>
            <class name="org.wso2.carbon.identity.entitlement.persistence.SubscriberPersistenceManagerFailureTest"/>
            <class name="org.wso2.carbon.identity.entitlement.persistence.JDBCSimplePAPStatusDataHandlerTest"/>
            <class name="org.wso2.carbon.identity.entitlement.persistence.RegistrySimplePAPStatusDataHandlerTest"/>
            <class name="org.wso2.carbon.identity.entitlement.persistence.HybridPAPStatusDataHandlerTest"/>
        </classes>
    </test>
</suite>
