<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
  ~ Copyright (c) 2023, WSO2 LLC. (http://www.wso2.com).
  ~
  ~ WSO2 LLC. licenses this file to you under the Apache License,
  ~ Version 2.0 (the "License"); you may not use this file except
  ~ in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<APIResourceCollections>
    {% for collection in api_resource_collections %}
    <APIResourceCollection name="{{ collection.name }}" displayName="{{ collection.displayName }}" type="{{ collection.type | default('Unknown') }}" enabled="{{ collection.enabled | default('true') }}">
        <Scopes>
            {% if collection.scopes.feature %}
            <Feature>
                {% for scope in collection.scopes.feature %}
                <Scope name="{{ scope.name }}"/>
                {% endfor %}
            </Feature>
            {% endif %}
            {% if collection.scopes.create %}
            <Create>
                {% for scope in collection.scopes.create %}
                <Scope name="{{ scope.name }}"/>
                {% endfor %}
            </Create>
            {% endif %}
            {% if collection.scopes.update %}
            <Update>
                {% for scope in collection.scopes.update %}
                <Scope name="{{ scope.name }}"/>
                {% endfor %}
            </Update>
            {% endif %}
            {% if collection.scopes.read %}
            <Read>
                {% for scope in collection.scopes.read %}
                <Scope name="{{ scope.name }}"/>
                {% endfor %}
            </Read>
            {% endif %}
            {% if collection.scopes.delete %}
            <Delete>
                {% for scope in collection.scopes.delete %}
                <Scope name="{{ scope.name }}"/>
                {% endfor %}
            </Delete>
            {% endif %}
        </Scopes>
    </APIResourceCollection>
    {% endfor %}
    <APIResourceCollection name="apiResources" displayName="API Resources" type="tenant">
        <Scopes>
            <Feature>
                <Scope name="console:apiResources"/>
            </Feature>
            <Update>
                <Scope name="internal_api_resource_update"/>
            </Update>
            <Create>
                <Scope name="internal_api_resource_create"/>
            </Create>
            <Read>
                <Scope name="internal_api_resource_view"/>
            </Read>
            <Delete>
                <Scope name="internal_api_resource_delete"/>
            </Delete>
        </Scopes>
    </APIResourceCollection>
    <APIResourceCollection name="applications" displayName="Applications" type="tenant">
        <Scopes>
            <Feature>
                <Scope name="console:applications"/>
            </Feature>
            <Update>
                <Scope name="internal_application_mgt_update"/>
            </Update>
            <Delete>
                <Scope name="internal_application_mgt_delete"/>
                <Scope name="internal_shared_application_delete"/>
            </Delete>
            <Create>
                <Scope name="internal_application_mgt_create"/>
                <Scope name="internal_shared_application_create"/>
            </Create>
            <Read>
                <Scope name="internal_cors_origins_view"/>
                <Scope name="internal_application_mgt_view"/>
                <Scope name="internal_claim_meta_view"/>
                <Scope name="internal_role_mgt_view"/>
                <Scope name="internal_userstore_view"/>
                <Scope name="internal_idp_view"/>
                <Scope name="internal_oidc_scope_mgt_view"/>
                <Scope name="internal_organization_view"/>
                <Scope name="internal_api_resource_view"/>
                <Scope name="internal_role_mgt_view"/>
                <Scope name="internal_governance_view"/>
                <Scope name="internal_userstore_view"/>
                <Scope name="internal_shared_application_view"/>
                <Scope name="internal_extensions_view"/>
            </Read>
        </Scopes>
    </APIResourceCollection>
    <APIResourceCollection name="branding" displayName="Branding" type="tenant">
        <Scopes>
            <Feature>
                <Scope name="console:branding"/>
            </Feature>
            <Update>
                <Scope name="internal_branding_preference_update"/>
            </Update>
            <Delete>
                <Scope name="internal_branding_preference_update"/>
            </Delete>
            <Create>
                <Scope name="internal_branding_preference_update"/>
            </Create>
            <Read>
                <Scope name="internal_application_mgt_view"/>
            </Read>
        </Scopes>
    </APIResourceCollection>
    <APIResourceCollection name="approvals" displayName="Approvals" type="tenant">
        <Scopes>
            <Feature>
                <Scope name="console:workflowApprovals"/>
            </Feature>
            <Update>
                <Scope name="internal_humantask_view"/>
            </Update>
            <Delete>
                <Scope name="internal_humantask_view"/>
            </Delete>
            <Create>
                <Scope name="internal_humantask_view"/>
            </Create>
            <Read>
                <Scope name="internal_humantask_view"/>
            </Read>
        </Scopes>
    </APIResourceCollection>
    <APIResourceCollection name="attributeDialects" displayName="Attribute Dialects" type="tenant">
        <Scopes>
            <Feature>
                <Scope name="console:attributes"/>
            </Feature>
            <Create>
                <Scope name="internal_claim_meta_create"/>
            </Create>
            <Update>
                <Scope name="internal_claim_meta_update"/>
                <Scope name="internal_governance_update"/>
            </Update>
            <Read>
                <Scope name="internal_userstore_view"/>
                <Scope name="internal_claim_meta_view"/>
                <Scope name="internal_governance_view"/>
            </Read>
            <Delete>
                <Scope name="internal_claim_meta_delete"/>
            </Delete>
        </Scopes>
    </APIResourceCollection>
    <APIResourceCollection name="certificates" displayName="Certificates" type="tenant">
        <Scopes>
            <Feature>
                <Scope name="console:certificates"/>
            </Feature>
            <Update>
                <Scope name="internal_keystore_update"/>
            </Update>
            <Delete>
                <Scope name="internal_keystore_update"/>
            </Delete>
            <Create>
                <Scope name="internal_keystore_update"/>
            </Create>
            <Read>
                <Scope name="internal_keystore_view"/>
            </Read>
        </Scopes>
    </APIResourceCollection>
    <APIResourceCollection name="consoleSettings" displayName="Console Settings" type="tenant">
        <Scopes>
            <Feature>
                <Scope name="console:settings"/>
            </Feature>
            <Update>
                <Scope name="internal_application_mgt_update"/>
                <Scope name="internal_user_mgt_update"/>
            </Update>
            <Delete>
            </Delete>
            <Create>
                <Scope name="internal_role_mgt_create"/>
            </Create>
            <Read>
                <Scope name="internal_application_mgt_view"/>
                <Scope name="internal_user_mgt_list"/>
                <Scope name="internal_user_mgt_view"/>
                <Scope name="internal_userstore_view"/>
                <Scope name="internal_role_mgt_view"/>
                <Scope name="internal_idp_view"/>
                <Scope name="internal_group_mgt_view"/>
                <Scope name="internal_session_view"/>
                <Scope name="internal_governance_view"/>
            </Read>
        </Scopes>
    </APIResourceCollection>
    <APIResourceCollection name="emailTemplates" displayName="Email Templates" type="tenant">
        <Scopes>
            <Feature>
                <Scope name="console:emailTemplates"/>
            </Feature>
            <Update>
                <Scope name="internal_email_mgt_update"/>
            </Update>
            <Delete>
                <Scope name="internal_email_mgt_delete"/>
            </Delete>
            <Create>
                <Scope name="internal_email_mgt_create"/>
            </Create>
            <Read>
                <Scope name="internal_email_mgt_view"/>
            </Read>
        </Scopes>
    </APIResourceCollection>
    <APIResourceCollection name="groups" displayName="Groups" type="tenant">
        <Scopes>
            <Feature>
                <Scope name="console:groups"/>
            </Feature>
            <Update>
                <Scope name="internal_group_mgt_update"/>
            </Update>
            <Delete>
                <Scope name="internal_group_mgt_delete"/>
            </Delete>
            <Create>
                <Scope name="internal_group_mgt_create"/>
            </Create>
            <Read>
                <Scope name="internal_user_mgt_view"/>
                <Scope name="internal_user_mgt_list"/>
                <Scope name="internal_role_mgt_view"/>
                <Scope name="internal_group_mgt_view"/>
                <Scope name="internal_userstore_view"/>
            </Read>
        </Scopes>
    </APIResourceCollection>
    <APIResourceCollection name="gettingStarted" displayName="Home Page" type="tenant">
        <Scopes>
            <Feature>
                <Scope name="console:home"/>
            </Feature>
            <Update>
                <Scope name="internal_application_mgt_update"/>
            </Update>
            <Delete/>
            <Create>
                <Scope name="internal_application_mgt_create"/>
                <Scope name="internal_idp_create"/>
                <Scope name="internal_user_mgt_create"/>
                <Scope name="internal_group_mgt_create"/>
            </Create>
            <Read>
                <Scope name="internal_application_mgt_view"/>
            </Read>
        </Scopes>
    </APIResourceCollection>
    <APIResourceCollection name="connections" displayName="Connections" type="tenant">
        <Scopes>
            <Feature>
                <Scope name="console:idps"/>
            </Feature>
            <Update>
                <Scope name="internal_idp_update"/>
                <Scope name="internal_governance_update"/>
            </Update>
            <Delete>
                <Scope name="internal_idp_delete"/>
            </Delete>
            <Create>
                <Scope name="internal_idp_create"/>
            </Create>
            <Read>
                <Scope name="internal_userstore_view"/>
                <Scope name="internal_idp_view"/>
                <Scope name="internal_role_mgt_view"/>
                <Scope name="internal_claim_meta_view"/>
                <Scope name="internal_authenticator_view"/>
                <Scope name="internal_governance_view"/>
                <Scope name="internal_extensions_view"/>
            </Read>
        </Scopes>
    </APIResourceCollection>
    <APIResourceCollection name="identityVerificationProviders" displayName="Identity Verification Providers" type="tenant">
        <Scopes>
            <Feature>
                <Scope name="console:idvps"/>
            </Feature>
            <Update>
                <Scope name="internal_idvp_update"/>
            </Update>
            <Delete>
                <Scope name="internal_idvp_delete"/>
            </Delete>
            <Create>
                <Scope name="internal_idvp_add"/>
            </Create>
            <Read>
                <Scope name="internal_idvp_view"/>
            </Read>
        </Scopes>
    </APIResourceCollection>
    <APIResourceCollection name="loginAndRegistration" displayName="Login And Registration" type="tenant">
        <Scopes>
            <Feature>
                <Scope name="console:loginAndRegistration"/>
            </Feature>
            <Update>
                <Scope name="internal_governance_update"/>
            </Update>
            <Delete/>
            <Create/>
            <Read>
                <Scope name="internal_governance_view"/>
                <Scope name="internal_validation_rule_mgt_update"/>
                <Scope name="internal_config_update"/>
                <Scope name="internal_role_mgt_view"/>
                <Scope name="internal_group_mgt_view"/>
            </Read>
        </Scopes>
    </APIResourceCollection>
    <APIResourceCollection name="notificationChannels" displayName="Notification Channels" type="tenant">
        <Scopes>
            <Feature>
                <Scope name="console:notificationChannels"/>
            </Feature>
            <Update>
                <Scope name="internal_notification_senders_update"/>
            </Update>
            <Delete>
                <Scope name="internal_notification_senders_delete"/>
            </Delete>
            <Create>
                <Scope name="internal_notification_senders_create"/>
            </Create>
            <Read>
                <Scope name="internal_notification_senders_view"/>
            </Read>
        </Scopes>
    </APIResourceCollection>
    <APIResourceCollection name="oidcScopes" displayName="OIDC Scopes" type="tenant">
        <Scopes>
            <Feature>
                <Scope name="console:scopes:oidc"/>
            </Feature>
            <Update>
                <Scope name="internal_oidc_scope_mgt_update"/>
            </Update>
            <Delete>
                <Scope name="internal_oidc_scope_mgt_delete"/>
            </Delete>
            <Create>
                <Scope name="internal_oidc_scope_mgt_create"/>
            </Create>
            <Read>
                <Scope name="internal_oidc_scope_mgt_view"/>
                <Scope name="internal_claim_meta_view"/>
            </Read>
        </Scopes>
    </APIResourceCollection>
    <APIResourceCollection name="organizations" displayName="Organizations" type="tenant">
        <Scopes>
            <Feature>
                <Scope name="console:organizations"/>
            </Feature>
            <Update>
                <Scope name="internal_organization_update"/>
            </Update>
            <Delete>
                <Scope name="internal_organization_delete"/>
                <Scope name="internal_organization_config_delete"/>
            </Delete>
            <Create>
                <Scope name="internal_organization_create"/>
                <Scope name="internal_organization_config_add"/>
            </Create>
            <Read>
                <Scope name="internal_organization_view"/>
                <Scope name="internal_organization_config_view"/>
            </Read>
        </Scopes>
    </APIResourceCollection>
    <APIResourceCollection name="organizationDiscovery" displayName="Organization Discovery" type="tenant">
        <Scopes>
            <Feature>
                <Scope name="console:organizationDiscovery"/>
            </Feature>
            <Update>
                <Scope name="internal_organization_discovery_update"/>
            </Update>
            <Delete>
                <Scope name="internal_organization_discovery_delete"/>
                <Scope name="internal_organization_config_delete"/>
            </Delete>
            <Create>
                <Scope name="internal_organization_discovery_update"/>
                <Scope name="internal_organization_config_add"/>
            </Create>
            <Read>
                <Scope name="internal_organization_discovery_view"/>
                <Scope name="internal_organization_view"/>
                <Scope name="internal_organization_config_view"/>
            </Read>
        </Scopes>
    </APIResourceCollection>
    <APIResourceCollection name="residentOutboundProvisioning" displayName="Resident Application Outbound Provisioning" type="tenant">
        <Scopes>
            <Feature>
                <Scope name="console:residentOutboundProvisioning"/>
            </Feature>
            <Update>
                <Scope name="internal_application_mgt_update"/>
            </Update>
            <Delete>
                <Scope name="internal_application_mgt_update"/>
            </Delete>
            <Create>
                <Scope name="internal_application_mgt_update"/>
            </Create>
            <Read>
                <Scope name="internal_idp_view"/>
                <Scope name="internal_application_mgt_view"/>
            </Read>
        </Scopes>
    </APIResourceCollection>
    <APIResourceCollection name="roles" displayName="Roles" type="tenant">
        <Scopes>
            <Feature>
                <Scope name="console:roles"/>
            </Feature>
            <Update>
                <Scope name="internal_role_mgt_update"/>
            </Update>
            <Delete>
                <Scope name="internal_role_mgt_delete"/>
            </Delete>
            <Create>
                <Scope name="internal_role_mgt_create"/>
            </Create>
            <Read>
                <Scope name="internal_user_mgt_view"/>
                <Scope name="internal_role_mgt_view"/>
                <Scope name="internal_userstore_view"/>
                <Scope name="internal_group_mgt_view"/>
                <Scope name="internal_application_mgt_view"/>
                <Scope name="internal_user_mgt_list"/>
                <Scope name="internal_idp_view"/>
                <Scope name="internal_api_resource_view"/>
            </Read>
        </Scopes>
    </APIResourceCollection>
    <APIResourceCollection name="rolesV1" displayName="Roles" type="tenant">
        <Scopes>
            <Feature>
                <Scope name="console:roles"/>
            </Feature>
            <Update>
                <Scope name="internal_role_mgt_update"/>
            </Update>
            <Delete>
                <Scope name="internal_role_mgt_delete"/>
            </Delete>
            <Create>
                <Scope name="internal_role_mgt_create"/>
            </Create>
            <Read>
                <Scope name="internal_user_mgt_view"/>
                <Scope name="internal_role_mgt_view"/>
                <Scope name="internal_userstore_view"/>
                <Scope name="internal_group_mgt_view"/>
                <Scope name="internal_permission_mgt_view"/>
                <Scope name="internal_user_mgt_list"/>
            </Read>
        </Scopes>
    </APIResourceCollection>
    <APIResourceCollection name="users" displayName="Users" type="tenant">
        <Scopes>
            <Feature>
                <Scope name="console:users"/>
            </Feature>
            <Update>
                <Scope name="internal_user_mgt_update"/>
                <Scope name="internal_session_delete"/>
                <Scope name="internal_group_mgt_update"/>
            </Update>
            <Delete>
                <Scope name="internal_user_mgt_delete"/>
            </Delete>
            <Create>
                <Scope name="internal_user_mgt_create"/>
                <Scope name="internal_bulk_resource_create"/>
                <Scope name="internal_offline_invite"/>
            </Create>
            <Read>
                <Scope name="internal_userstore_view"/>
                <Scope name="internal_role_mgt_view"/>
                <Scope name="internal_group_mgt_view"/>
                <Scope name="internal_governance_view"/>
                <Scope name="internal_login"/>
                <Scope name="internal_user_mgt_view"/>
                <Scope name="internal_user_mgt_list"/>
                <Scope name="internal_session_view"/>
                <Scope name="internal_claim_meta_view"/>
            </Read>
        </Scopes>
    </APIResourceCollection>
    <APIResourceCollection name="userStores" displayName="User Stores" type="tenant">
        <Scopes>
            <Feature>
                <Scope name="console:userstores"/>
            </Feature>
            <Update>
                <Scope name="internal_userstore_update"/>
            </Update>
            <Delete>
                <Scope name="internal_userstore_delete"/>
            </Delete>
            <Create>
                <Scope name="internal_userstore_create"/>
            </Create>
            <Read>
                <Scope name="internal_userstore_view"/>
            </Read>
        </Scopes>
    </APIResourceCollection>
    <APIResourceCollection name="actions" displayName="Actions" type="tenant">
        <Scopes>
            <Feature>
                <Scope name="console:actions"/>
            </Feature>
            <Update>
                <Scope name="internal_action_mgt_update"/>
            </Update>
            <Delete>
                <Scope name="internal_action_mgt_delete"/>
            </Delete>
            <Create>
                <Scope name="internal_action_mgt_create"/>
            </Create>
            <Read>
                <Scope name="internal_action_mgt_view"/>
            </Read>
        </Scopes>
    </APIResourceCollection>
<!--    Organization API Resource Collections-->
    <APIResourceCollection name="org_consoleSettings" displayName="Console Settings" type="organization">
        <Scopes>
            <Feature>
                <Scope name="console:org:settings"/>
            </Feature>
            <Update>
                <Scope name="internal_org_application_mgt_update"/>
                <Scope name="internal_org_user_mgt_update"/>
            </Update>
            <Delete>
                <Scope name="internal_org_guest_mgt_invite_delete"/>
            </Delete>
            <Create>
                <Scope name="internal_org_role_mgt_create"/>
            </Create>
            <Read>
                <Scope name="internal_org_application_mgt_view"/>
                <Scope name="internal_org_user_mgt_list"/>
                <Scope name="internal_org_user_mgt_view"/>
                <Scope name="internal_org_userstore_view"/>
                <Scope name="internal_org_role_mgt_view"/>
                <Scope name="internal_org_guest_mgt_invite_list"/>
                <Scope name="internal_org_idp_view"/>
                <Scope name="internal_org_group_mgt_view"/>
                <Scope name="internal_org_session_view"/>
                <Scope name="internal_org_governance_view"/>
            </Read>
        </Scopes>
    </APIResourceCollection>
    <APIResourceCollection name="org_connections" displayName="Connections" type="organization">
        <Scopes>
            <Feature>
                <Scope name="console:org:idps"/>
            </Feature>
            <Update>
                <Scope name="internal_org_idp_update"/>
            </Update>
            <Delete>
                <Scope name="internal_org_idp_delete"/>
            </Delete>
            <Create>
                <Scope name="internal_org_idp_create"/>
            </Create>
            <Read>
                <Scope name="internal_org_userstore_view"/>
                <Scope name="internal_org_idp_view"/>
                <Scope name="internal_org_role_mgt_view"/>
                <Scope name="internal_org_claim_meta_view"/>
                <Scope name="internal_org_authenticator_view"/>
                <Scope name="internal_org_governance_view"/>
                <Scope name="internal_org_extensions_view"/>
            </Read>
        </Scopes>
    </APIResourceCollection>
    <APIResourceCollection name="org_users" displayName="Users" type="organization">
        <Scopes>
            <Feature>
                <Scope name="console:org:users"/>
            </Feature>
            <Update>
                <Scope name="internal_org_user_mgt_update"/>
                <Scope name="internal_org_session_delete"/>
            </Update>
            <Delete>
                <Scope name="internal_org_user_mgt_delete"/>
                <Scope name="internal_org_guest_mgt_invite_delete"/>
            </Delete>
            <Create>
                <Scope name="internal_org_user_mgt_create"/>
                <Scope name="internal_org_guest_mgt_invite_add"/>
                <Scope name="internal_org_bulk_resource_create"/>
            </Create>
            <Read>
                <Scope name="internal_org_userstore_view"/>
                <Scope name="internal_org_role_mgt_view"/>
                <Scope name="internal_org_group_mgt_view"/>
                <Scope name="internal_org_governance_view"/>
                <Scope name="internal_org_user_mgt_view"/>
                <Scope name="internal_org_user_mgt_list"/>
                <Scope name="internal_org_session_view"/>
                <Scope name="internal_org_claim_meta_view"/>
                <Scope name="internal_org_guest_mgt_invite_list"/>
            </Read>
        </Scopes>
    </APIResourceCollection>
    <APIResourceCollection name="org_organizations" displayName="Organizations" type="organization">
        <Scopes>
            <Feature>
                <Scope name="console:org:organizations"/>
            </Feature>
            <Update>
                <Scope name="internal_org_organization_update"/>
            </Update>
            <Delete>
                <Scope name="internal_org_organization_delete"/>
                <Scope name="internal_org_config_mgt_delete"/>
            </Delete>
            <Create>
                <Scope name="internal_org_organization_create"/>
                <Scope name="internal_org_config_mgt_add"/>
            </Create>
            <Read>
                <Scope name="internal_org_organization_view"/>
                <Scope name="internal_org_config_mgt_view"/>
            </Read>
        </Scopes>
    </APIResourceCollection>
    <APIResourceCollection name="org_groups" displayName="Groups" type="organization">
        <Scopes>
            <Feature>
                <Scope name="console:org:groups"/>
            </Feature>
            <Update>
                <Scope name="internal_org_group_mgt_update"/>
            </Update>
            <Delete>
                <Scope name="internal_org_group_mgt_delete"/>
            </Delete>
            <Create>
                <Scope name="internal_org_group_mgt_create"/>
            </Create>
            <Read>
                <Scope name="internal_org_user_mgt_view"/>
                <Scope name="internal_org_user_mgt_list"/>
                <Scope name="internal_org_role_mgt_view"/>
                <Scope name="internal_org_group_mgt_view"/>
                <Scope name="internal_org_userstore_view"/>
            </Read>
        </Scopes>
    </APIResourceCollection>
    <APIResourceCollection name="org_roles" displayName="Roles" type="organization">
        <Scopes>
            <Feature>
                <Scope name="console:org:roles"/>
            </Feature>
            <Update>
                <Scope name="internal_org_role_mgt_update"/>
            </Update>
            <Delete/>
            <Create>
                <Scope name="internal_org_role_mgt_create"/>
            </Create>
            <Read>
                <Scope name="internal_org_user_mgt_view"/>
                <Scope name="internal_org_role_mgt_view"/>
                <Scope name="internal_org_userstore_view"/>
                <Scope name="internal_org_group_mgt_view"/>
                <Scope name="internal_org_application_mgt_view"/>
                <Scope name="internal_org_user_mgt_list"/>
                <Scope name="internal_org_idp_view"/>
            </Read>
        </Scopes>
    </APIResourceCollection>
    <APIResourceCollection name="org_rolesV1" displayName="Roles" type="organization">
        <Scopes>
            <Feature>
                <Scope name="console:org:roles"/>
            </Feature>
            <Update>
                <Scope name="internal_org_role_mgt_update"/>
            </Update>
            <Delete/>
            <Create>
                <Scope name="internal_org_role_mgt_create"/>
            </Create>
            <Read>
                <Scope name="internal_org_user_mgt_view"/>
                <Scope name="internal_org_role_mgt_view"/>
                <Scope name="internal_org_userstore_view"/>
                <Scope name="internal_org_group_mgt_view"/>
                <Scope name="internal_org_permission_mgt_view"/>
                <Scope name="internal_org_user_mgt_list"/>
            </Read>
        </Scopes>
    </APIResourceCollection>
    <APIResourceCollection name="org_applications" displayName="Applications" type="organization">
        <Scopes>
            <Feature>
                <Scope name="console:org:applications"/>
            </Feature>
            <Update>
                <Scope name="internal_org_application_mgt_update"/>
            </Update>
            <Delete>
                <Scope name="internal_org_application_mgt_delete"/>
            </Delete>
            <Create>
                <Scope name="internal_org_application_mgt_create"/>
            </Create>
            <Read>
                <Scope name="internal_org_application_mgt_view"/>
                <Scope name="internal_org_claim_meta_view"/>
                <Scope name="internal_org_role_mgt_view"/>
                <Scope name="internal_org_userstore_view"/>
                <Scope name="internal_org_idp_view"/>
                <Scope name="internal_org_extensions_view"/>
            </Read>
        </Scopes>
    </APIResourceCollection>
    <APIResourceCollection name="org_branding" displayName="Branding" type="organization">
        <Scopes>
            <Feature>
                <Scope name="console:org:branding"/>
            </Feature>
            <Update>
                <Scope name="internal_org_branding_preference_update"/>
            </Update>
            <Delete>
                <Scope name="internal_org_branding_preference_update"/>
            </Delete>
            <Create>
                <Scope name="internal_org_branding_preference_update"/>
            </Create>
            <Read>
                <Scope name="internal_org_application_mgt_view"/>
            </Read>
        </Scopes>
    </APIResourceCollection>
    <APIResourceCollection name="org_emailTemplates" displayName="Email Templates" type="organization">
        <Scopes>
            <Feature>
                <Scope name="console:org:emailTemplates"/>
            </Feature>
            <Update>
            </Update>
            <Delete>
            </Delete>
            <Create>
            </Create>
            <Read>
                <Scope name="internal_org_email_mgt_view"/>
            </Read>
        </Scopes>
    </APIResourceCollection>
    <APIResourceCollection name="org_gettingStarted" displayName="Home Page" type="organization">
        <Scopes>
            <Feature>
                <Scope name="console:org:home"/>
            </Feature>
            <Update>
                <Scope name="internal_org_application_mgt_update"/>
            </Update>
            <Delete/>
            <Create>
                <Scope name="internal_org_application_mgt_create"/>
                <Scope name="internal_org_idp_create"/>
                <Scope name="internal_org_user_mgt_create"/>
                <Scope name="internal_org_group_mgt_create"/>
            </Create>
            <Read>
                <Scope name="internal_org_application_mgt_view"/>
            </Read>
        </Scopes>
    </APIResourceCollection>
</APIResourceCollections>
