<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Device_Management_Test_Suite">
    <test name="Device_Management_DAO_Tests">
        <classes>
            <class name="org.wso2.carbon.identity.device.mgt.dao.DeviceManagementDAOImplTest"/>
            <class name="org.wso2.carbon.identity.device.mgt.dao.CacheBackedDeviceManagementDAOTest"/>
        </classes>
    </test>
    <test name="Device_Management_Service_Tests">
        <classes>
            <class name="org.wso2.carbon.identity.device.mgt.service.DeviceManagementServiceImplTest"/>
        </classes>
    </test>
    <test name="Device_Management_Util_Tests">
        <classes>
            <class name="org.wso2.carbon.identity.device.mgt.util.DeviceManagementExceptionHandlerTest"/>
            <class name="org.wso2.carbon.identity.device.mgt.util.DeviceValidatorTest"/>
        </classes>
    </test>
</suite>
