{
  "flowExecution" : {
      "enableLegacyFlows" : {
          "timestampReference" : "{{compatibility_setting.flow_execution.enable_legacy_flows.timestamp_reference | default('2026-01-01T00:00:00Z')}}",
          "targetValue" : {{compatibility_setting.flow_execution.enable_legacy_flows.target_value | default('true')}},
          "defaultValue" : {{compatibility_setting.flow_execution.enable_legacy_flows.default_value | default('false')}}
    }
  }
}
