<!--
  ~ Copyright (c) 2017, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="IdentityFrameworkTestSuite" object-factory="org.powermock.modules.testng.PowerMockObjectFactory">
    <test name="IdentityFrameworkTestsWithDebugEnabled" preserve-order="false" parallel="false">
        <!--<parameter name="log-level" value="debug"/>-->
        <classes>
            <class name="org.wso2.carbon.identity.application.authentication.framework.ApplicationAuthenticationServiceTest"/>

            <class name="org.wso2.carbon.identity.application.authentication.framework.handler.claims.impl.DefaultClaimHandlerTest"/>
            <class name="org.wso2.carbon.identity.application.authentication.framework.handler.hrd.impl.DefaultHomeRealmDiscovererTest"/>
            <class name="org.wso2.carbon.identity.application.authentication.framework.handler.request.impl.DefaultAuthenticationRequestHandlerTest"/>
            <class name="org.wso2.carbon.identity.application.authentication.framework.handler.request.impl.consent.SSOConsentServiceImplTest"/>
            <class name="org.wso2.carbon.identity.application.authentication.framework.handler.request.impl.DefaultRequestCoordinatorTest"/>
            <class name="org.wso2.carbon.identity.application.authentication.framework.handler.request.impl.JITProvisioningPostAuthenticationHandlerTest"/>
            <class name="org.wso2.carbon.identity.application.authentication.framework.handler.request.impl.PostAuthAssociationHandlerTest"/>
            <class name="org.wso2.carbon.identity.application.authentication.framework.handler.provisioning.impl.DefaultProvisioningHandlerTest"/>
            <class name="org.wso2.carbon.identity.application.authentication.framework.handler.sequence.impl.DefaultRequestPathBasedSequenceHandlerTest"/>
            <class name="org.wso2.carbon.identity.application.authentication.framework.handler.sequence.impl.DefaultStepBasedSequenceHandlerTest"/>
<!--                        <class name="org.wso2.carbon.identity.application.authentication.framework.handler.sequence.impl.GraphBasedSequenceHandlerClaimsTest" />-->

            <class name="org.wso2.carbon.identity.application.authentication.framework.handler.step.impl.DefaultStepHandlerTest"/>

            <class name="org.wso2.carbon.identity.application.authentication.framework.util.FrameworkUtilsTest"/>
            <class name="org.wso2.carbon.identity.application.authentication.framework.util.SessionNonceCookieUtilTest"/>

            <class name="org.wso2.carbon.identity.application.authentication.framework.inbound.HttpIdentityRequestFactoryTest"/>
            <class name="org.wso2.carbon.identity.application.authentication.framework.inbound.HttpIdentityResponseFactoryTest"/>

            <class name="org.wso2.carbon.identity.application.authentication.framework.internal.impl.AuthenticationMethodNameTranslatorImplTest"/>

            <class name="org.wso2.carbon.identity.application.authentication.framework.services.PostAuthenticationMgtServiceTest"/>
            <class name="org.wso2.carbon.identity.application.authentication.framework.services.ConditionalAuthenticationMgtServiceTest"/>

            <class name="org.wso2.carbon.identity.application.authentication.framework.config.loader.UIBasedConfigurationLoaderTest"/>
            <class name="org.wso2.carbon.identity.application.authentication.framework.config.model.graph.js.JsNashornAuthenticationContextTest"/>
            <class name="org.wso2.carbon.identity.application.authentication.framework.config.model.graph.js.JsGraalAuthenticationContextTest"/>
            <class name="org.wso2.carbon.identity.application.authentication.framework.config.model.graph.JsNashornGraphBuilderTest"/>
            <class name="org.wso2.carbon.identity.application.authentication.framework.config.model.graph.JsGraalGraphBuilderTest"/>

            <class name="org.wso2.carbon.identity.application.authentication.framework.config.model.graph.JSExecutionSupervisorTest"/>

            <class name="org.wso2.carbon.identity.application.authentication.framework.session.extender.processor.SessionExtenderProcessorTest"/>
            <class name="org.wso2.carbon.identity.application.authentication.framework.session.extender.request.SessionExtenderRequestTest"/>
            <class name="org.wso2.carbon.identity.application.authentication.framework.session.extender.request.SessionExtenderRequestFactoryTest"/>
            <class name="org.wso2.carbon.identity.application.authentication.framework.session.extender.response.SessionExtenderErrorResponseTest"/>

            <class name="org.wso2.carbon.identity.application.authentication.framework.dao.impl.UserSessionDAOImplTest"/>
            <class name="org.wso2.carbon.identity.application.authentication.framework.AuthenticationServiceTest"/>
        </classes>
    </test>

    <test name="GraphBasedSequenceHandlerTestsWithNashornScriptEngine" preserve-order="false" parallel="false">
        <!--        <parameter name="log-level" value="debug"/>-->
        <parameter name="scriptEngine" value="nashorn"/>
        <classes>
            <class name="org.wso2.carbon.identity.application.authentication.framework.handler.sequence.impl.GraphBasedSequenceHandlerNoJsTest"/>
            <class name="org.wso2.carbon.identity.application.authentication.framework.handler.sequence.impl.GraphBasedSequenceHandlerCustomFunctionsTest"/>
<!--            <class name="org.wso2.carbon.identity.application.authentication.framework.handler.sequence.impl.GraphBasedSequenceHandlerClaimMappingsTest" />-->
            <class name="org.wso2.carbon.identity.application.authentication.framework.handler.sequence.impl.GraphBasedSequenceHandlerClaimsTest" />
            <class name="org.wso2.carbon.identity.application.authentication.framework.handler.sequence.impl.GraphBasedSequenceHandlerLongWaitTest" />
            <class name="org.wso2.carbon.identity.application.authentication.framework.handler.sequence.impl.GraphBasedSequenceHandlerExceptionRetryTest" />
            <class name="org.wso2.carbon.identity.application.authentication.framework.handler.sequence.impl.GraphBasedSequenceHandlerAcrTest"/>
            <class name="org.wso2.carbon.identity.application.authentication.framework.handler.sequence.impl.GraphBasedSequenceHandlerFailTest"/>
        </classes>
    </test>

    <test name="GraphBasedSequenceHandlerTestsWithGraalJSScriptEngine" preserve-order="false" parallel="false">
        <!--        <parameter name="log-level" value="debug"/>-->
        <parameter name="scriptEngine" value="graaljs"/>
        <classes>
            <class name="org.wso2.carbon.identity.application.authentication.framework.handler.sequence.impl.GraphBasedSequenceHandlerNoJsTest"/>
            <class name="org.wso2.carbon.identity.application.authentication.framework.handler.sequence.impl.GraphBasedSequenceHandlerCustomFunctionsTest"/>
<!--            <class name="org.wso2.carbon.identity.application.authentication.framework.handler.sequence.impl.GraphBasedSequenceHandlerClaimMappingsTest" />-->
            <class name="org.wso2.carbon.identity.application.authentication.framework.handler.sequence.impl.GraphBasedSequenceHandlerClaimsTest" />
            <class name="org.wso2.carbon.identity.application.authentication.framework.handler.sequence.impl.GraphBasedSequenceHandlerLongWaitTest" />
            <class name="org.wso2.carbon.identity.application.authentication.framework.handler.sequence.impl.GraphBasedSequenceHandlerExceptionRetryTest" />
            <class name="org.wso2.carbon.identity.application.authentication.framework.handler.sequence.impl.GraphBasedSequenceHandlerAcrTest"/>
            <class name="org.wso2.carbon.identity.application.authentication.framework.handler.sequence.impl.GraphBasedSequenceHandlerFailTest"/>
        </classes>
    </test>

    <test name="IdentityFrameworkTestsWithDataSources" preserve-order="false" parallel="false">
        <classes>
            <class name="org.wso2.carbon.identity.application.authentication.framework.store.UserSessionStoreTest"/>
            <class name="org.wso2.carbon.identity.application.authentication.framework.handler.claims.impl.DefaultClaimFilterTest"/>
        </classes>
    </test>
    <test name="SessionDataStoreTestsWithDataSources" preserve-order="false" parallel="false">
        <classes>
            <class name="org.wso2.carbon.identity.application.authentication.framework.store.SessionDataStoreTest"/>
        </classes>
    </test>
</suite>
