<?xml version="1.0" encoding="UTF-8"?><!--
  ~ Copyright (c) 2016, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
  ~
  ~  WSO2 Inc. licenses this file to you under the Apache License,
  ~  Version 2.0 (the "License"); you may not use this file except
  ~  in compliance with the License.
  ~  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <context-param>
        <param-name>EnableEmailNotification</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>ProcessAllSecurityQuestions</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>EnableCaptchaVerification</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>EnableMultiTenancy</param-name>
        <param-value>false</param-value>
    </context-param>
    <!--context-param>
        <param-name>UserPortalUrl</param-name>
        <param-value>https://localhost:9443/dashboard/index.jag</param-value>
    </context-param-->
    
    <listener>
        <listener-class>org.wso2.carbon.identity.mgt.endpoint.listener.IdentityManagementEndpointContextListener</listener-class>
    </listener>

    <filter>
        <filter-name>HttpHeaderSecurityFilter</filter-name>
        <filter-class>org.apache.catalina.filters.HttpHeaderSecurityFilter</filter-class>
        <init-param>
            <param-name>hstsEnabled</param-name>
            <param-value>false</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>HttpHeaderSecurityFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>ContentTypeBasedCachePreventionFilter</filter-name>    
        <filter-class>
           org.wso2.carbon.ui.filters.cache.ContentTypeBasedCachePreventionFilter
        </filter-class>
        <init-param>
           <param-name>patterns</param-name>
           <param-value>"text/html" ,"application/json" ,"plain/text"</param-value>
        </init-param>
        <init-param>
           <param-name>filterAction</param-name>
           <param-value>enforce</param-value>
        </init-param>
        <init-param>
           <param-name>httpHeaders</param-name>
           <param-value>
               Cache-Control: no-store, no-cache, must-revalidate, private
           </param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>ContentTypeBasedCachePreventionFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>CharsetFilter</filter-name>
        <filter-class>org.wso2.carbon.tomcat.ext.filter.CharacterSetFilter</filter-class>
        <init-param>
            <param-name>requestEncoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>CharsetFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>recoveraccountrouter.do</servlet-name>
        <jsp-file>/account-recovery-router.jsp</jsp-file>
    </servlet>

    <servlet>
        <servlet-name>recoverusername.do</servlet-name>
        <jsp-file>/username-recovery.jsp</jsp-file>
    </servlet>

    <servlet>
        <servlet-name>recoverusernamecomplete.do</servlet-name>
        <jsp-file>/username-recovery-complete.jsp</jsp-file>
    </servlet>

    <servlet>
        <servlet-name>recoverpassword.do</servlet-name>
        <jsp-file>/password-recovery.jsp</jsp-file>
    </servlet>

    <servlet>
        <servlet-name>processsecurityquestions.do</servlet-name>
        <jsp-file>/challenge-question-process.jsp</jsp-file>
    </servlet>

    <servlet>
        <servlet-name>viewsecurityquestions.do</servlet-name>
        <jsp-file>/challenge-question-view.jsp</jsp-file>
    </servlet>


    <servlet>
        <servlet-name>confirmrecovery.do</servlet-name>
        <jsp-file>/password-recovery-confirm.jsp</jsp-file>
    </servlet>

    <servlet>
        <servlet-name>completepasswordreset.do</servlet-name>
        <jsp-file>/password-reset-complete.jsp</jsp-file>
    </servlet>

    <servlet>
        <servlet-name>passwordreset.do</servlet-name>
        <jsp-file>/password-reset.jsp</jsp-file>
    </servlet>

    <servlet>
        <servlet-name>register.do</servlet-name>
        <jsp-file>/self-registration-username-request.jsp</jsp-file>
    </servlet>

    <servlet>
        <servlet-name>signup.do</servlet-name>
        <jsp-file>/self-registration.jsp</jsp-file>
    </servlet>

    <servlet>
        <servlet-name>processregistration.do</servlet-name>
        <jsp-file>/self-registration-process.jsp</jsp-file>
    </servlet>

    <servlet>
        <servlet-name>confirmregistration.do</servlet-name>
        <jsp-file>/self-registration-with-verification-confirm.jsp</jsp-file>
    </servlet>

    <servlet>
        <servlet-name>completeregistration.do</servlet-name>
        <jsp-file>/self-registration-complete.jsp</jsp-file>
    </servlet>

    <servlet>
        <servlet-name>verify.do</servlet-name>
        <jsp-file>/recovery.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>recoveraccountrouter.do</servlet-name>
        <url-pattern>/recoveraccountrouter.do</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>recoverusername.do</servlet-name>
        <url-pattern>/recoverusername.do</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>recoverusernamecomplete.do</servlet-name>
        <url-pattern>/recoverusernamecomplete.do</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>recoverpassword.do</servlet-name>
        <url-pattern>/recoverpassword.do</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>processsecurityquestions.do</servlet-name>
        <url-pattern>/processsecurityquestions.do</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>viewsecurityquestions.do</servlet-name>
        <url-pattern>/viewsecurityquestions.do</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>confirmrecovery.do</servlet-name>
        <url-pattern>/confirmrecovery.do</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>completepasswordreset.do</servlet-name>
        <url-pattern>/completepasswordreset.do</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>passwordreset.do</servlet-name>
        <url-pattern>/passwordreset.do</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>register.do</servlet-name>
        <url-pattern>/register.do</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>signup.do</servlet-name>
        <url-pattern>/signup.do</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>processregistration.do</servlet-name>
        <url-pattern>/processregistration.do</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>confirmregistration.do</servlet-name>
        <url-pattern>/confirmregistration.do</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>completeregistration.do</servlet-name>
        <url-pattern>/completeregistration.do</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>verify.do</servlet-name>
        <url-pattern>/verify.do</url-pattern>
    </servlet-mapping>

    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/error.jsp</location>
    </error-page>

    <!-- custom error pages -->
    <error-page>
        <error-code>400</error-code>
        <location>/errors/error_400.html</location>
    </error-page>
    <error-page>
        <error-code>401</error-code>
        <location>/errors/error_401.html</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/errors/error_403.html</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/errors/error_404.html</location>
    </error-page>
    <error-page>
        <error-code>405</error-code>
        <location>/errors/error_405.html</location>
    </error-page>
    <error-page>
        <error-code>408</error-code>
        <location>/errors/error_408.html</location>
    </error-page>
    <error-page>
        <error-code>410</error-code>
        <location>/errors/error_410.html</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/errors/error_500.html</location>
    </error-page>
    <error-page>
        <error-code>502</error-code>
        <location>/errors/error_502.html</location>
    </error-page>
    <error-page>
        <error-code>503</error-code>
        <location>/errors/error_503.html</location>
    </error-page>
    <error-page>
        <error-code>504</error-code>
        <location>/errors/error_504.html</location>
    </error-page>
    <error-page>
        <location>/errors/error.html</location>
    </error-page>

    <session-config>
        <cookie-config>
            <secure>true</secure>
        </cookie-config>
    </session-config>

</web-app>
