<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Device_Registration_Test_Suite">
    <test name="Device_Registration_Handler_Tests">
        <classes>
            <class name="org.wso2.carbon.identity.device.registration.internal.handler.DeviceRegistrationHandlerTest"/>
        </classes>
    </test>
    <test name="Device_Registration_Executor_Tests">
        <classes>
            <class name="org.wso2.carbon.identity.device.registration.executor.DeviceRegistrationExecutorTest"/>
            <class name="org.wso2.carbon.identity.device.registration.listener.RegistrationFlowCompletionListenerTest"/>
        </classes>
    </test>
    <test name="Device_Registration_Util_Tests">
        <classes>
            <class name="org.wso2.carbon.identity.device.registration.internal.util.DeviceSignatureVerifierTest"/>
            <class name="org.wso2.carbon.identity.device.registration.internal.util.DeviceRegistrationExceptionHandlerTest"/>
        </classes>
    </test>
</suite>
